p{
color: red;
margin-top: 100px;
margin-left: 20px;
margin-bottom: 20px;
margin-left: 20px;
padding-top: 120px;
background-image:url("Download.png");
background-size: 10%;
background-repeat: no-repeat;
background-position: right;
}
